/* ==========================================================================
   ABOUT
   ========================================================================== */

.opening-line-container {
    margin-top: 2em;
    margin-left: 22px; //132px; //22px to align with masthead

    .opening-line {
        font-size: $type-size-2;
    }
    
    .about-me {
        font-size: $type-size-5;
        padding-left: 1%;
    }
}