/* ==========================================================================
   ABOUT
   ========================================================================== */

.opening-line-container {
    margin-top: 4em;
    margin-left: 22px; //132px; //22px to align with masthead

    .opening-line {
        font-weight:600;
        font-size: $type-size-1;
    }    
}